html {
  font-size: 10px;
  /* px means "pixels": the base font size is now 10 pixels high */
  font-family: "Open Sans", sans-serif;
  color: #444444
    /* this should be the rest of the output you got from Google Fonts */
}

h1 {
  font-size: 60px;
  text-align: center;
}

p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

html {
  background-color: #ffffff;
}

body {
  width: 1300px;
  margin: 20px auto;
  background-color: #ffffff;
  padding: 0 100px 20px 100px;
  border: 5px solid black;
}

h1 {
  margin: 0;
  padding: 20px 20px;
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  color: #00539f;
  text-shadow: 3px 3px 1px black;
}

h2 {
  padding: 20px 20px;
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  text-align: center;
  color: #444444;
  font-family: "Raleway", sans-serif;
}


nav {
  background-color: #ffffff;
  padding: 10px 0;
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  z-index: 100;

}

nav a {
  color: #2b3c6f;
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
}

nav a:hover {
  text-decoration: underline;
}

footer {
  background-color: #1d284b;
  padding: 20px 0;
  text-align: center;
}

footer img {
  width: 40px;
  margin: 0 10px;
  cursor: pointer;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-print {
  background: #3B5998;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

#apie {
  display: flex;
  flex-wrap: wrap;
}

#apie p {
  flex: 1;
  margin: 10px;
}

nav a.logo img {
  height: 30px;
  width: auto;
  max-width: 80;
}

.mazi {
  width: 60px;
}

@media print {

  img,
  video,
  iframe,
  button,
  nav,
  footer,
  audio {
    display: none;
  }

  body {
    color: red;
    width: 600px;
  }
}